.navbar {
    width: 100%;
    height: 50px;
    background-color: #fdfbfb;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 2;
}

.navbar-left,
.navbar-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-image {
    font-size: 34px;
    color: teal;
}


.navbar-topicon {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #444;
    cursor: pointer;
}

.navbar-center {
    flex: 6;
}

.navbar-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-listitem {
    margin-right: 1.2rem;
    font-size: 1.1rem;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 4px;
   
}

.navbar-listitem::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 128, 128, 0.2); 
    transition: height 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: -1;
    border-radius: 6px;
}

.navbar-listitem:hover::after {
    height: 100%;
}

.navbar-searchitem {
 font-size: 1.1rem;
 color: #444;
 cursor: pointer;
 margin-left: .7rem;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-socials-mobile {
    display: none;
    text-align: center;
    margin-top: 1rem;
}



@media screen and (max-width:768px) {

    .navbar-left {
        display: none; 
    }
    
    .hamburger {
        display: block;
        margin-left: 5%;
    }

    .navbar-right {
        justify-content: flex-end;
        margin-right: 5%;
    }

    .navbar-list {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0, 0, 0, .95);
        color: white;
      
    }

    .navbar-socials-mobile {
        display: flex;
        gap: 40px;
    }

    .navbar-list.active {
        left: 0;
    }

    .navbar-listitem{
        padding: 3rem 0;
    }

    .navbar-list a {
        font-size: 2rem;
    }

}