.footer {
    background-color: #fdfbfb;
    color: #000000;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-section {
    text-align: center;
}


.footer-section.about {
    flex: 3;
    margin-left: 2%;
}


.footer-section.contact {
    flex: 6;
}


.footer-section.social {
   
    flex: 3;
    margin-right: 2%;
}


.footer-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}


.footer-social {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.footer-icon {
    font-size: 24px;
    color: #000000;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #0073b1; 
}

.footer-icon:hover:nth-child(4),
.footer-icon:hover:nth-child(5) {
    color: rgb(177, 66, 66); 
}



.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

@media screen and (max-width: 650px) {
  
    .footer-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 20px;
    }

}

@media screen and (max-width: 425px) {
  
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    
}